{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}

<h5>{{message}}</h5>

<a href="/"> Return to AI Tool Finder</a> 

<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="/about.html">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Tool42.xyz 2023. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://www.linkedin.com/company/tool42/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="fa fa-github fa-2x" aria-hidden="true"></i></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
 
{% endblock %}



