{% extends "layout.html" %}

{% block title %}
    Get AI Tools 
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3 text-center">
                <img class="img-thumbnail"src="/static/icons/aitool2.png" width="300" height="201" alt="">
                <h5>Search by Keyword:</h5>
                <form action="/" method="post">
                    <div class="form-group">
                        <div class="row justify-content-center">
                            <input type="text" class="form-control" name="name_or_usage" placeholder="Name or Usage">
                        </div>
                    </div>
                    <hr>
                    <h5 class="text-center">Or</h5>
                    <h5>Search by Category and Pricing Model:</h5>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            <select class="form-control" name="pricing">
                                <option selected disabled>Pricing Models:</option>
                                {% for pricing in pricings %}
                                    <option value="{{ pricing }}">{{ pricing }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            <select class="form-control" name="category">
                                <option selected disabled>Categories:</option>
                                {% for category in categories %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        </div>       
    </div>

{% endblock %}
