{% extends "layout.html" %}

{% block title %}
    Get AI Tools
{% endblock %}

{% block main %}
<img class="img-thumbnail" src="/static/icons/aitool2.png" width="300" height="201" alt="">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center">

            <h5>Search by keyword:</h5>
            <form action="/" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="name_or_usage" placeholder="Keyword">
                </div>
        </div>
        <div class="col-md-3 text-center">
            <h5 class="text-center">Or</h5>
        </div>
        <div class="col-md-3 text-center">
            <h5>By category and pricing model:</h5>
            <div class="form-group">
                
                <select type="text" class="form-control" name="pricing" id="pricing">
                    <option selected disabled>Select</option>
                    {% for pricing in pricings %}
                    <option value="{{ pricing }}">{{ pricing }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                
                <select class="form-control" name="category" id="category">
                    <option selected disabled>Select</option>
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"> AI Tool Finder</a>         
    </div>  
</nav>

<footer class="footer bg-white">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 h-100  text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="https://www.tool42.xyz/">About Me</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="https://tool42.netlify.app/">Contact</a></li>
                   <!-- <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li> -->
                </ul>
            </div>
            <div class="col-lg-6 h-100  text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="https://www.linkedin.com/in/manuelcan/"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="https://medium.com/@manuelcandelaria"><i class="fa fa-medium fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="list-inline-item me-4"> 
                        <a href="https://github.com/manuel-candelaria"><i class="fa fa-github fa-2x" aria-hidden="true"></i></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}